body {
  user-select: none;
}
.required .q-field__label:after {
  content:" *";
  color: rgb(255, 101, 101);
}

i.text-negative {
  display: none;
}

label.q-field,
div.q-checkbox {
  margin: 0 10px;
}

.inline-field {
  display: inline-block;
}
